{% load static %}
<section class="max-w-custom mx-auto px-[20px] 2xl:px-0">
    <div class="flex mt-[139px] gap-[122px]">
        <div class="">
            <h2 class="text-[46px] w-[586px] font-semibold">Yaradıcılığınızı sərbəst şəkildə sərgiləyin</h2>
            <p class="text-[22px] w-[459px] font-light mt-[16px] leading-[36px]">Dizayn yaratmaq indi daha asandır. Alətlərimiz və şablonlarımızla istədiyiniz layihələri həyata keçirin.</p>
            <div class="mt-[47px]">
                <div class="relative">
                    <button class="bg-primary w-[179px] h-[52px] rounded-[44px]">Frilanser ol</button>
                    <a class="absolute top-0 left-[159px] rounded-full bg-[#FBF9F1] hover:bg-[#d1cdbe] transition-all w-[52px] h-[52px] grid place-items-center" href="">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.7109 19.705L22.7476 12.1042L15.1468 10.0675" stroke="#344054" stroke-width="1.6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.25195 19.8958L22.6126 12.182" stroke="#344054" stroke-width="1.6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            
            {% include "components/ui/MainSearch.html" %}
            
        </div>
        <div class="relative flex-shrink flex-grow">
            <div class="h-full grid gap-[12.26px]">
                <div class="h-full w-full flex gap-[12.26px]">
                    <div class="bg-[#FEE86E] w-[100.55px]  rounded-tl-[42px] rounded-br-[42px]"></div>
                    <div class="bg-[#FBF9F1] flex-grow  rounded-bl-[92px] rounded-tr-[92px]"></div>
                </div>
                <div class="bg-primary rounded-bl-[92px] rounded-tr-[92px]"></div>
            </div>
            <div class="absolute top-0 h-full w-full flex justify-end">
                <img class="h-full" src="{% static "images/hero.png" %}" alt="Hero">
            </div>
        </div>
    </div>
</section>

 <section class="relative mt-[202px]">
    <div class="absolute top-0 z-20 w-full">
        <div class="relative bg-primary flex items-center skew-y-[1.45deg] h-[60px] md:h-[126.31px] overflow-hidden">
            <div class="flex h-full items-center md:gap-[160px] animate-marquee  whitespace-nowrap">
                {% for partner in partners %}
                    <img class="h-[40px] md:h-[80px]" src="{{partner.logo.url}}" alt="">
                {% endfor %}
                {% for partner in partners %}
                    <img class="h-[40px] md:h-[80px]" src="{{partner.logo.url}}" alt="">
                {% endfor %}
                {% for partner in partners %}
                    <img class="h-[40px] md:h-[80px]" src="{{partner.logo.url}}" alt="">
                {% endfor %}
                {% for partner in partners %}
                    <img class="h-[40px] md:h-[80px]" src="{{partner.logo.url}}" alt="">
                {% endfor %}
                {% for partner in partners %}
                    <img class="h-[40px] md:h-[80px]" src="{{partner.logo.url}}" alt="">
                {% endfor %}
              </div>    
        </div>
    </div>
    
    <div class="z-10 w-full">
        <div class="relative bg-[#51535A] -skew-y-[1.45deg] h-[60px] md:h-[126.31px] overflow-hidden">
            <div class=" flex space-x-10 items-center">
            </div>
        </div>
    </div>
</section> 

