<section class="mt-[178px] max-w-custom mx-auto px-[20px] 2xl:px-0">
    <h3 class="text-[36px] font-[600] text-center">Necə işləyir?</h3>
    <p class="mt-[26px] text-primary text-center underline text-[24px] font-[500]">Sizin rahatlığınız üçün daima üzərimizdə çalışırıq.</p>
    <div class="mt-[60px] grid grid-cols-4 gap-[25px]">
        {% for object in how_to_work %}
        <div class="flex flex-col items-center">
            <div class="w-[72px] h-[72px] grid place-items-center rounded-full bg-[#FEE86E]/35 shadow-[0_4px_10px_0_rgba(0,0,0,0.25)]">
                <img src="{{object.file.url}}" alt="{{object.title}}">
            </div>
            <h4 class="text-[25px] font-[600] mt-[44px] text-center">{{object.title}}</h4>
            <p class="text-[20px] text-center mt-[24px]">{{object.description}}</p>
        </div>
        {% endfor %}
    </div>
</section>