{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="body d-flex p-0 p-xl-5">
    <div class="container-xxl">
        <div class="row g-0">
            <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
                    <!-- Form -->
                    <form method="post" class="row g-1 p-3 p-md-4">
                        {% csrf_token %}
                        <div class="col-12 text-center mb-1 mb-lg-5">
                            <h1>Sign in</h1>
                            <span>Free access to our dashboard.</span>
                        </div>
                        <!-- Display form errors -->
                        {% if form.errors %}
                            <div class="col-12">
                                <div class="alert alert-danger" role="alert">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-12 text-center mb-4">
                            <a class="btn btn-lg btn-outline-secondary btn-block" href="#">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="avatar xs me-2" src="{% static "assets/images/google.svg" %}" alt="Image Description">
                                    Sign in with Google
                                </span>
                            </a>
                            <span class="dividers text-muted mt-4">OR</span>
                        </div>
                        <div class="col-12">
                            <div class="mb-2">
                                <label class="form-label">Email address</label>
                                <input type="email" name="email" class="form-control form-control-lg" placeholder="name@example.com" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-2">
                                {% comment %} <div class="form-label">
                                    <span class="d-flex justify-content-between align-items-center">
                                        Password
                                        <a class="text-secondary" href="{% url 'password_reset' %}">Forgot Password?</a>
                                    </span>
                                </div> {% endcomment %}
                                <input type="password" name="password" class="form-control form-control-lg" placeholder="***************" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" name="remember_me" class="form-check-input" id="remember_me">
                                <label class="form-check-label" for="remember_me">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-lg btn-block btn-light lift text-uppercase">SIGN IN</button>
                        </div>
                        {% comment %} <div class="col-12 text-center mt-4">
                            <span class="text-muted">Don't have an account yet? <a href="{% url 'signup' %}" class="text-secondary">Sign up here</a></span>
                        </div> {% endcomment %}
                    </form>
                    <!-- End Form -->
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
                    <!-- Form -->
                    <form method="post" class="row g-1 p-3 p-md-4">
                        {% csrf_token %}
                        <div class="col-12 text-center mb-1 mb-lg-5">
                            <h2>Register</h2>
                            <span>Free access to our dashboard.</span>
                        </div>
                        <div class="col-12 text-center mb-4">
                            <a class="btn btn-lg btn-outline-secondary btn-block" href="#">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="avatar xs me-2" src="{% static "assets/images/google.svg" %}" alt="Image Description">
                                    Sign in with Google
                                </span>
                            </a>
                            <span class="dividers text-muted mt-4">OR</span>
                        </div>
                        <div class="col-12">
                            <div class="mb-2">
                                <input type="text" name="first_name" class="form-control form-control-lg" placeholder="First name" required>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-lg btn-block btn-light lift text-uppercase">SIGN IN</button>
                        </div>
                        <div class="col-12 text-center mt-4">
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div> <!-- End Row -->
    </div>
</div>
{% endblock body %}
