{% extends "layouts/default.html" %}

{% block main %}

{% include "pages/home/components/Hero.html" %}

{% include "pages/home/components/Categories.html" %}

{% include "pages/home/components/VirtualOffices.html" %}

{% include "pages/home/components/HowWork.html" %}

{% include "pages/home/components/Freelancers.html" %}

{% include "pages/home/components/Statistics.html" %}

{% include "pages/home/components/CustomerComments.html" %}

{% include "pages/home/components/Freelancers-2.html" %}

{% endblock main %}