<div class="modal fade" id="editsubtask-{{subtask.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="editprojectLabel"> Redaktə edin </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{{subtask.task.get_absolute_url}}" id="editSubtaskForm-{{subtask.id}}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="_method" value="PATCH">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Görüləcək iş</label>
                        <textarea class="form-control" name="job" value="{{subtask.job}}" id="exampleFormControlTextarea786" rows="3"
                        placeholder="Add any extra details about the request">{{subtask.job}}</textarea>
                    </div>
                    <div class="col-sm-12">
                        <label for="formFileMultipleone" class="form-label">Task Assign to</label>
                        <select class="form-select" name="assigned_to" aria-label="Default select Priority">
                            {% for member in task.assigned_members.all %}
                            <option {% if subtask.assigned_to and member.id == subtask.assigned_to.id %} selected {% endif %} value="{{member.id}}">{{member.user}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultipleone" class="form-label">File</label>
                        <input class="form-control" name="file" value="{{subtask.file}}" type="file" id="formFileMultipleone">
                        {% if subtask.file %}
                        <p>Current file: <a href="{{ subtask.file.url }}" target="_blank">{{ subtask.file.name }}</a></p>
                        {% endif %}
                    </div>                    
                    <div class="deadline-form mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="datepickerded" class="form-label">SubTask Start Date</label>
                                <input type="datetime-local" name="started_date" value="{{ subtask.started_date|default_if_none:''|date:'Y-m-d\\TH:i' }}" class="form-control" id="datepickerded">
                            </div>
                            <div class="col">
                                <label for="datepickerdedone" class="form-label">Subtask End Date</label>
                                <input type="datetime-local" name="deadline" value="{{ subtask.deadline|default_if_none:''|date:'Y-m-d\\TH:i' }}" class="form-control" id="datepickerdedone">
                            </div>
                        </div>                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea786" class="form-label">Hazır mətnçün yer</label>
                        <textarea class="form-control" value="{{subtask.content}}" name="content" id="exampleFormControlTextarea786" rows="3"
                            placeholder="Add any extra details about the request">{{subtask.content}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="cancel-subtask-edit-{{subtask.id}}">Ləğv et</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Təsdiq</button>
                </div>
                <input type="hidden" name="task" value="{{task}}">
            </form>
        </div>
    </div>
</div>