{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Üzv dəvəti</title>
</head>
<body>
    <p>Salam,</p>
    <p>{{ inviter }} sizi <strong>{{ task.title }}</strong> adlı taska qoşulmağa dəvət edir.</p>
    {% if is_login %}
    <p><a href="{{ accept_url }}">Accept Invitation</a></p>
    {% else %}
    <p><a href="{{login_url}}">You need to register website in order to accept invitation </a></p>
    {% endif %}
    <p>If you didn't expect this invitation, you can safely ignore this email.</p>
</body>
</html>
