<div class="modal fade" id="editproject-{{project.id}}" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title  fw-bold" id="editprojectLabel"> Redaktə edin </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="editMessage" class="mt-4">

        </div>
        <form method="patch" id="editProjectForm-{{project.id}}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput78" class="form-label">Layihənin adı</label>
                    <input type="text" class="form-control" name="title" id="exampleFormControlInput78" value="{{project.title}}">
                </div>              
                <div class="mb-3">
                    <label for="projectDescription" class="form-label">Qısa təsvir (məcburi deyil)</label>
                    <textarea class="form-control" name="description" value="{{project.description}}" id="projectDescription" rows="3"
                        placeholder="Latihənin qısa təsviri">{{project.description}}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-project-edit-{{project.id}}">Ləğv et</button>
                <button type="submit" class="btn btn-primary">Təsdiq</button>
            </div>
        </form>
    </div>
    </div>
</div>