<div class="modal fade" id="projectMemberRoleChange-{{member.id}}" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title  fw-bold" id="editprojectLabel"> Rol dəyiş</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="patch" action="{{member.project.workspace.get_absolute_url}}" id="editProjectMemberRole-{{member.id}}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Rol seçimləri</label>
                    <select name="role" class="form-select" aria-label="Default select example">
                        <option value="Adi üzv"> Adi üzv </option>
                        <option value="Moderator"> Moderator </option>
                        <option value="Admin"> Admin </option>
                    </select>
                </div>                
            </div>
            <input type="hidden" value="{{member.id}}" name="member" id="">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelRoleChange-{{member.id}}">Ləğv et</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Təsdiq</button>
            </div>
        </form>
    </div>
    </div>
</div>