{% extends "layouts/dashboard/index.html" %}

{% block main %}
    <section class="grid grid-cols-3 gap-x-[25px] gap-[40px] mt-[186px]">

        {% include "pages/dashboard/components/VirtualOffice.html" %}
        {% include "pages/dashboard/components/VirtualOffice.html" %}
        {% include "pages/dashboard/components/VirtualOffice.html" %}
        {% include "pages/dashboard/components/VirtualOffice.html" %}
        {% include "pages/dashboard/components/VirtualOffice.html" %}
        {% include "pages/dashboard/components/VirtualOffice.html" %}

    </section>
{% endblock main %}