<section class="custom-container mt-[186px]">
    <h3 class="text-[36px] text-[#1A1A1A] font-[600]">Bütün bloq postları</h3>
    <div class="mt-[42px] grid grid-cols-4 gap-x-[25px] gap-y-[74px]">
        <div>
            <img class="w-full h-[240px] object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2zXUNL2-4TovF7MObgejXrIvGtwG-UWfQMg&s" alt="">
            <div class="text-primary mt-[32px] text-[14px] font-[600]">
                <span>Demi WIlkinson</span> 
                <span>• 1 Yanvar 2023</span>
            </div>
            <div class="flex justify-between items-center mt-[12px]">
                <h3 class="text-[24px] font-[600] text-[#1A1A1A]">UX/UI dizayn</h3>
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-[12px] #667085">Lorem ipsum dolor sit amet consectetur. Risus eros tempus dui gravida elementum nec.</p>
            <div class="flex flex-wrap mt-[24px] gap-[8px]">
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
            </div>
        </div>
        <div>
            <img class="w-full h-[240px] object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2zXUNL2-4TovF7MObgejXrIvGtwG-UWfQMg&s" alt="">
            <div class="text-primary mt-[32px] text-[14px] font-[600]">
                <span>Demi WIlkinson</span> 
                <span>• 1 Yanvar 2023</span>
            </div>
            <div class="flex justify-between items-center mt-[12px]">
                <h3 class="text-[24px] font-[600] text-[#1A1A1A]">UX/UI dizayn</h3>
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-[12px] #667085">Lorem ipsum dolor sit amet consectetur. Risus eros tempus dui gravida elementum nec.</p>
            <div class="flex flex-wrap mt-[24px] gap-[8px]">
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
            </div>
        </div>
        <div>
            <img class="w-full h-[240px] object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2zXUNL2-4TovF7MObgejXrIvGtwG-UWfQMg&s" alt="">
            <div class="text-primary mt-[32px] text-[14px] font-[600]">
                <span>Demi WIlkinson</span> 
                <span>• 1 Yanvar 2023</span>
            </div>
            <div class="flex justify-between items-center mt-[12px]">
                <h3 class="text-[24px] font-[600] text-[#1A1A1A]">UX/UI dizayn</h3>
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-[12px] #667085">Lorem ipsum dolor sit amet consectetur. Risus eros tempus dui gravida elementum nec.</p>
            <div class="flex flex-wrap mt-[24px] gap-[8px]">
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
            </div>
        </div>
        <div>
            <img class="w-full h-[240px] object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2zXUNL2-4TovF7MObgejXrIvGtwG-UWfQMg&s" alt="">
            <div class="text-primary mt-[32px] text-[14px] font-[600]">
                <span>Demi WIlkinson</span> 
                <span>• 1 Yanvar 2023</span>
            </div>
            <div class="flex justify-between items-center mt-[12px]">
                <h3 class="text-[24px] font-[600] text-[#1A1A1A]">UX/UI dizayn</h3>
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-[12px] #667085">Lorem ipsum dolor sit amet consectetur. Risus eros tempus dui gravida elementum nec.</p>
            <div class="flex flex-wrap mt-[24px] gap-[8px]">
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
            </div>
        </div>
        <div>
            <img class="w-full h-[240px] object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2zXUNL2-4TovF7MObgejXrIvGtwG-UWfQMg&s" alt="">
            <div class="text-primary mt-[32px] text-[14px] font-[600]">
                <span>Demi WIlkinson</span> 
                <span>• 1 Yanvar 2023</span>
            </div>
            <div class="flex justify-between items-center mt-[12px]">
                <h3 class="text-[24px] font-[600] text-[#1A1A1A]">UX/UI dizayn</h3>
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-[12px] #667085">Lorem ipsum dolor sit amet consectetur. Risus eros tempus dui gravida elementum nec.</p>
            <div class="flex flex-wrap mt-[24px] gap-[8px]">
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
            </div>
        </div>
        <div>
            <img class="w-full h-[240px] object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2zXUNL2-4TovF7MObgejXrIvGtwG-UWfQMg&s" alt="">
            <div class="text-primary mt-[32px] text-[14px] font-[600]">
                <span>Demi WIlkinson</span> 
                <span>• 1 Yanvar 2023</span>
            </div>
            <div class="flex justify-between items-center mt-[12px]">
                <h3 class="text-[24px] font-[600] text-[#1A1A1A]">UX/UI dizayn</h3>
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-[12px] #667085">Lorem ipsum dolor sit amet consectetur. Risus eros tempus dui gravida elementum nec.</p>
            <div class="flex flex-wrap mt-[24px] gap-[8px]">
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
                <div class="rounded-[16px] bg-[#F3F3F3] py-[2px] px-[10px] text-[14px] font-[500] text-[#6941C6]">
                    Leadirship
                </div>
                <div class="rounded-[16px] bg-[#F8F9FC] py-[2px] px-[10px] text-[14px] font-[500] text-[#363F72]">
                    Management
                </div>
            </div>
        </div>
    </div>
</section>