<section class="custom-container mt-[261px]">
    <div class="relative overflow-hidden py-[104px] flex items-center shadow-custom rounded-[10px]">
        <div class="ml-[295px]">
            <h4 class="text-[34px] font-[600]">Yeniliklərdən xəbərdar ol</h4>
            <form class="mt-[31px] flex gap-[25px] h-[61px]">
                <input class="rounded-[25px] w-[330px] h-full px-[11px]" placeholder="E-mailini daxil et" type="text">
                <button class="bg-black hover:bg-[#575151] text-secondary h-full px-[57px] text-[20px] font-[600] rounded-[25px]">Qoşul</button>
            </form>
        </div>
        <div class="absolute top-[-141px] left-[-191px] w-[382px] h-[382px] bg-secondary rounded-full grid place-items-center">
            <div class="w-[230px] h-[230px] bg-white rounded-full">
            </div>
        </div>
        <div class="absolute right-[-100px] w-[596px] h-[596px] bg-[#505259] rounded-full">

        </div>
        <div class="absolute bottom-[-121px] right-[-131px] w-[382px] h-[382px] bg-primary rounded-full grid place-items-center">
            <div class="w-[230px] h-[230px] bg-[#505259] rounded-full">
            </div>
        </div>
    </div>
</section>