<section class="mt-[175px] custom-container">
    <h3 class="text-[36px] text-[#1A1A1A] font-[600]">Sizə maraqlı olanlar</h3>

    <div class="mt-[76px] grid grid-cols-2 gap-[27px]">
        <div class="flex gap-[20px]">
            <div class="w-[65%]">
                <h2 class="text-[30px] font-[700] leading-[36px]">Lorem ipsum dolor sit amet consectetur.</h2>
                <p class="mt-[20px] text-[18px] text-[#7D7D7D] leading-[22px]">Lorem ipsum dolor sit amet consectetur. Dictum diam id nibh semper augue purus congue aliquam eget. Cursus vitae cursus vel viverra phasellus lorem morbi ullamcorper eu.</p>
                <div class="flex gap-[11px] items-center mt-[20px]">
                    <div class="border font-[500] text-[#797979] border-[#C9C9C9] rounded-[29px] py-[6px] px-[15px]">
                        Alətlər
                    </div>
                    <div class="text-[#797979] flex items-center gap-[2px]">
                        <span>Sübhan tərəfindən</span>
                        <div class="w-[8.5px] h-[8.5px] rounded-full bg-[#797979]"></div>
                    </div>
                    <div class="text-[14px] font-[500] text-[#1C5CFF]">
                        7 dəqiqə əvvəl
                    </div>
                </div>
            </div>
            <div class="w-[35%]">
                <img class="h-full w-full object-cover" src="https://www.rushortho.com/sites/default/files/iStock-1354898670.jpg" alt="">
            </div>
        </div>
        <div class="flex gap-[20px]">
            <div class="w-[65%]">
                <h2 class="text-[30px] font-[700] leading-[36px]">Lorem ipsum dolor sit amet consectetur.</h2>
                <p class="mt-[20px] text-[18px] text-[#7D7D7D] leading-[22px]">Lorem ipsum dolor sit amet consectetur. Dictum diam id nibh semper augue purus congue aliquam eget. Cursus vitae cursus vel viverra phasellus lorem morbi ullamcorper eu.</p>
                <div class="flex gap-[11px] items-center mt-[20px]">
                    <div class="border font-[500] text-[#797979] border-[#C9C9C9] rounded-[29px] py-[6px] px-[15px]">
                        Alətlər
                    </div>
                    <div class="text-[#797979] flex items-center gap-[2px]">
                        <span>Sübhan tərəfindən</span>
                        <div class="w-[8.5px] h-[8.5px] rounded-full bg-[#797979]"></div>
                    </div>
                    <div class="text-[14px] font-[500] text-[#1C5CFF]">
                        7 dəqiqə əvvəl
                    </div>
                </div>
            </div>
            <div class="w-[35%]">
                <img class="h-full w-full object-cover" src="https://www.rushortho.com/sites/default/files/iStock-1354898670.jpg" alt="">
            </div>
        </div>
    </div>
</section>