<section class="custom-container mt-[100px]">
    <div class="relative  bg-[#252831] flex overflow-x-hidden">
        <div class="py-[7px] animate-marquee whitespace-nowrap">
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
        </div>
      
        <div class="absolute top-0 py-[7px] animate-marquee2 whitespace-nowrap">
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
          <span class="text-[32px] mx-4 text-primary">BLOQ</span>
          <span class="text-[32px] mx-4 text-secondary">BLOQ</span>
        </div>
    </div>
    <div class="flex w-full">
        <div class="w-[65%] bg-primary pt-[70px] px-[46px] pb-[43px]">
            <h3 class="w-[586px] text-[46px] font-[600] leading-[53px] text-[#131517]">Yaradıcılığınızı sərbəst şəkildə sərgiləyin</h3>
            <p class="w-[460px] mt-[16px] text-[22px] font-[300] leading-[36px] text-[#24272D]">Dizayn yaratmaq indi daha asandır. Alətlərimiz və şablonlarımızla istədiyiniz layihələri həyata keçirin.</p>
            {% include "components/ui/MainSearch.html" %}
        </div>
        <div class="w-[35%] bg-secondary grid place-items-center">
            <img class="w-[80%] h-[90%] object-cover" src="https://images.ctfassets.net/pdf29us7flmy/3yFSYfB5FazkZpdZF3aL30/4dbdc0daf4938b99e007b3bd0bdde43a/Screen_Shot_2022-09-22_at_4.20.54_PM.png?w=720&q=100&fm=jpg" alt="">
        </div>
    </div>
</section>