<section class="custom-container">
    <h2 class="text-[36px] font-[600]">Üstünlüklərimiz</h2>
    <div class="grid grid-cols-2 gap-[75px]">
        <div class="mt-[57px]">
            <h3 class="text-[67px] font-[700] text-[#23155B] leading-[83px] w-[80%]">Peşəkar Xidmət
                <span class="text-[#363636]">Task</span> <span class="text-secondary">Frieslə</span>
                sizə daha yaxın..
            </h3>
            <div class="mt-[94px] flex justify-between items-center">
                <div class="shadow-custom rounded-[17px] w-[271px] py-[11px] px-[40px] flex flex-col items-center">
                    <div class="flex items-center">
                        <span class="text-[36px] font-[700] text-primary">30K</span>
                        <span class="text-[26px] font-[500] ">+</span>
                    </div>
                    <p class="text-[23px] font-[600] text-center">
                        İşə götürülmə sayı
                    </p>
                </div>
                <div class="shadow-custom rounded-[12px] py-[14px] px-[20px] flex items-center gap-[11px] mr-[60px]">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.0237 22.4571L24.387 13.0938L22.5276 11.2344L15.0237 18.7383L11.2385 14.9532L9.37916 16.8125L15.0237 22.4571ZM7.58619 28.8321C6.85572 28.8321 6.23039 28.572 5.71021 28.0518C5.19002 27.5316 4.92993 26.9063 4.92993 26.1758V7.58204C4.92993 6.85157 5.19002 6.22624 5.71021 5.70606C6.23039 5.18587 6.85572 4.92578 7.58619 4.92578H26.18C26.9105 4.92578 27.5358 5.18587 28.056 5.70606C28.5762 6.22624 28.8363 6.85157 28.8363 7.58204V26.1758C28.8363 26.9063 28.5762 27.5316 28.056 28.0518C27.5358 28.572 26.9105 28.8321 26.18 28.8321H7.58619Z" fill="#31FFAA"/>
                    </svg>
                    <span class="text-[18px] font-[600]">100% Güvənilir</span>
                </div>
            </div>
            <div class="flex justify-end mt-[45px]">
                <div class="shadow-custom rounded-[12px] py-[14px] pl-[22px] pr-[93px] flex items-center gap-[11px]">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.0237 22.4571L24.387 13.0938L22.5276 11.2344L15.0237 18.7383L11.2385 14.9532L9.37916 16.8125L15.0237 22.4571ZM7.58619 28.8321C6.85572 28.8321 6.23039 28.572 5.71021 28.0518C5.19002 27.5316 4.92993 26.9063 4.92993 26.1758V7.58204C4.92993 6.85157 5.19002 6.22624 5.71021 5.70606C6.23039 5.18587 6.85572 4.92578 7.58619 4.92578H26.18C26.9105 4.92578 27.5358 5.18587 28.056 5.70606C28.5762 6.22624 28.8363 6.85157 28.8363 7.58204V26.1758C28.8363 26.9063 28.5762 27.5316 28.056 28.0518C27.5358 28.572 26.9105 28.8321 26.18 28.8321H7.58619Z" fill="#31FFAA"/>
                    </svg>
                    <span class="text-[30px] font-[600]">100% Güvənilir</span>
                </div>
            </div>
        </div>
        <div class="space-y-4">
          <!-- Card 1 -->
          <div class="bg-white rounded-[22px] shadow-custom py-[41px] px-[31px] flex gap-[15px]">
            <span class="text-primary font-[700] text-[31px] leading-[36px]">01</span>
            <p class="text-[23px] leading-[36px] font-[500] text-[#23155B] w-[60%]">Without a big budget, it's hard to approach venture investors</p>
          </div>
          <!-- Card 2 -->
          <div class="bg-white rounded-[22px] shadow-custom py-[41px] px-[31px] flex gap-[15px]">
            <span class="text-primary font-[700] text-[31px] leading-[36px]">02</span>
            <p class="text-[23px] leading-[36px] font-[500] text-[#23155B] w-[60%]">VCs don't care about your DeFi idea — only their gains</p>
          </div>
          <!-- Card 3 -->
          <div class="bg-white rounded-[22px] shadow-custom py-[41px] px-[31px] flex gap-[15px]">
            <span class="text-primary font-[700] text-[31px] leading-[36px]">03</span>
            <p class="text-[23px] leading-[36px] font-[500] text-[#23155B] w-[60%]">They force you into selling your tokens at a huge discount...</p>
          </div>
          <!-- Card 4 -->
          <div class="bg-white rounded-[22px] shadow-custom py-[41px] px-[31px] flex gap-[15px]">
            <span class="text-primary font-[700] text-[31px] leading-[36px]">04</span>
            <p class="text-[23px] leading-[36px] font-[500] text-[#23155B] w-[60%]">...Then dump them at the first opportunity</p>
          </div>
        </div>
      </div>
</section>