{% extends "layouts/default.html" %}

{% block main %}
{% load static %}
<div class="bg-white rounded-lg sm:mt-[100px] mt-4 items-start max-w-custom m-auto md:flex-nowrap relative">
    <!-- Left images -->
    <img src="{% static 'assets/images/vector-yellow.png' %}" alt="" class="hidden sm:hidden md:block h-auto md:ml-[0px] absolute top-0 left-[65px]">
    <img src="{% static 'assets/images/star-green.png' %}" alt="" class="hidden sm:hidden md:block absolute left-[220px] bottom-[200px] w-[80px] h-auto">

    <!-- Form Container -->
    <div class="flex flex-col w-full lg:w-[80%] max-w-[671px] m-auto px-4">
        <h2 class="text-[32px] sm:text-[36px] md:text-[48px] lg:text-[64px] font-normal text-center">Qeydiyyat</h2>
        <form method="POST" id="registerForm" class="space-y-6 mt-2">
            {% csrf_token %}
            <div>
                <label for="first_name" class="block text-[14px] sm:text-[16px] text-black-800 font-medium text-gray-700">Ad</label>
                <input type="text" id="first_name" name="first_name" required placeholder="Ad"
                    class="mt-2 w-full text-gray-500 text-[14px] sm:text-[16px] pl-[15px] sm:pl-[20px] py-[10px] sm:py-[12px] md:py-[15px] border border-gray-300 rounded-[8px] focus:border-primary focus:ring-primary">
            </div>
            <div>
                <label for="last_name" class="block text-[14px] sm:text-[16px] text-black-800 font-medium text-gray-700">Soyad</label>
                <input type="text" id="last_name" name="last_name" required placeholder="Soyad"
                    class="mt-2 w-full text-gray-500 text-[14px] sm:text-[16px] pl-[15px] sm:pl-[20px] py-[10px] sm:py-[12px] md:py-[15px] border border-gray-300 rounded-[8px] focus:border-primary focus:ring-primary">
            </div>
            <div>
                <label for="email" class="block text-[14px] sm:text-[16px] text-black-800 font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" required placeholder="example@gmail.com"
                    class="mt-2 w-full text-gray-500 text-[14px] sm:text-[16px] pl-[15px] sm:pl-[20px] py-[10px] sm:py-[12px] md:py-[15px] border border-gray-300 rounded-[8px] focus:border-primary focus:ring-primary">
            </div>
            <div>
                <label for="password" class="block text-[14px] sm:text-[16px] text-black-800 font-medium text-gray-700">Parol</label>
                <input type="password" id="password" name="password" required placeholder="********"
                    class="mt-2 w-full text-gray-500 text-[14px] sm:text-[16px] pl-[15px] sm:pl-[20px] py-[10px] sm:py-[12px] md:py-[15px] border border-gray-300 rounded-[8px] focus:border-primary focus:ring-primary">
            </div>
            <div>
                <label for="password_confirm" class="block text-[14px] sm:text-[16px] text-black-800 font-medium text-gray-700">Təkrar Parol</label>
                <input type="password" id="password_confirm" name="password_confirm" required placeholder="********"
                    class="mt-2 w-full text-gray-500 text-[14px] sm:text-[16px] pl-[15px] sm:pl-[20px] py-[10px] sm:py-[12px] md:py-[15px] border border-gray-300 rounded-[8px] focus:border-primary focus:ring-primary">
            </div>
            <div>
                <button type="submit"
                    class="w-full py-[8px] mt-4 bg-primary text-white text-[20px] sm:text-[24px] md:text-[32px] rounded-lg hover:bg-primary-hover hover:border-primary-hover transition-all">
                    Hesab yarat
                </button>
            </div>
        </form>
        <p class="text-[12px] sm:text-[14px] md:text-sm text-center mt-2">
            Artıq qeydiyyatdan keçmisən?
            <a href="{% url 'login' %}" class="text-primary hover:text-primary-hover transition-all">Daxil ol</a>
        </p>
        <div class="w-full flex items-center justify-center mt-8">
            <span class="flex-1 h-[1.95px] bg-gray-300 ml-[20px] md:ml-[41px]"></span>
            <p class="px-2 md:px-4 text-black text-[14px] sm:text-[16px] md:text-[24px]">Və ya</p>
            <span class="flex-1 h-[1.95px] bg-gray-300 mr-[20px] md:mr-[41px]"></span>
        </div>
        <div class="w-full flex items-center justify-center space-x-6 md:space-x-12 mt-8">
            <i class="fa-brands fa-facebook text-blue-500 text-[30px] md:text-[40px]"></i>
            <img src="{% static 'assets/images/google.png' %}" class="w-[30px] md:w-[40px] h-[30px] md:h-[40px]" alt="">
            <i class="fa-brands fa-apple text-[30px] md:text-[40px]"></i>
        </div>
    </div>

    <!-- Right images -->
    <div class="flex flex-col justify-center gap-2 ml-auto">
        <img src="{% static 'assets/images/star-gray.png' %}" alt="" class="hidden sm:hidden md:block absolute top-0 right-[140px] w-[100px] h-auto lg:ml-[150px]">
        <img src="{% static 'assets/images/star-yellow.png' %}" alt="" class="hidden sm:hidden md:block absolute bottom-[130px] right-[230px] w-[100px] h-auto lg:ml-[150px]">
    </div>
</div>
<script src="{% static 'assets/js/api/register.js' %}"></script>
{% endblock main %}
