{% extends "layouts/default.html" %}

{% block main %}
{% load static %}
<div class="bg-white rounded-lg mt-[139px] items-start max-w-custom m-auto md:flex-nowrap relative">
    <!-- Left images -->
    <img src="{% static 'assets/images/vector-yellow.png' %}" alt="" class="hidden sm:hidden md:block h-auto md:ml-[0px] absolute top-0 left-[65px]">

    <!-- Form Container -->
    <div class="flex flex-col w-full lg:w-[80%] max-w-[671px] m-auto px-4">
        <h2 class="text-[32px] sm:text-[36px] md:text-[48px] lg:text-[64px] font-normal text-center">Kodu daxil edin</h2>
        <div id="successMessage" class="mt-6 hidden">
            <div class="flex items-center justify-between mt-[20px] bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded-lg" role="alert">
                <p class="text-sm text-center">
                    Qeydiyyat uğurlu oldu.
                </p>
                <button onclick="closeSuccessMessage()" class="text-green-700 hover:text-green-800">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="flex justify-center mt-4">
            <p id="countdown" class="text-sm text-gray-700"></p>
        </div>
        <form method="POST" id="verifyRegisterForm" class="space-y-6 mt-2">
            {% csrf_token %}
            <div class="flex justify-center flex-col">
                <input type="text" id="otp" name="otp" placeholder="6 rəqəmli kod" maxlength="6"
                    class="mt-2 w-full text-center text-gray-500 text-[15px] sm:text-[15px] py-[10px] sm:py-[12px] md:py-[15px] border border-gray-300 rounded-[8px] focus:border-primary focus:ring-primary">
                <p class="error-message text-red-500 text-sm hidden mt-2 ml-2"></p>
            </div>
            <div>
                <button type="submit"
                    class="w-full py-[8px] mt-1 bg-primary text-white text-[20px] sm:text-[24px] md:text-[32px] rounded-lg hover:bg-primary-hover hover:border-primary-hover transition-all">
                    Təsdiqlə
                </button>
            </div>
        </form>
        <a href="#" id="resendVerifyCode" class="text-[24px] font-DMSans text-center mt-4">
            Yenidən göndər
        </a>        
    </div>

    <!-- Right images -->
    <div class="flex flex-col justify-center gap-2 ml-auto">
        <img src="{% static 'assets/images/star-gray.png' %}" alt="" class="hidden sm:hidden md:block absolute top-0 right-[140px] w-[100px] h-auto lg:ml-[150px]">
    </div>
</div>
<script src="{% static 'assets/js/api/verify_register.js' %}"></script>
<script src="{% static 'assets/js/api/resend_code.js' %}"></script>
{% endblock main %}
